@charset "UTF-8";

/* estilo geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    color: #323232;
    border: none;
}

body {
    background-image: url(imagens/background-img.png);
    background-size: auto;
    background-position-x: 10px;
}

textarea:focus, input:focus {
    outline: none;
}

a, label {
    font-size: .8rem;
}

a:hover {
    color: #08558b;
}


/* login-box */

#login-box {
    background-color: white;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    text-align: center;
    margin-top: 10vh;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 50px;;
}


/* Formulário */

form {
    margin-top: 30px;
    margin-bottom: 30px;
    
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
       font-weight: bold;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    
}

input:focus {
    border-bottom: 2px solid #5e0f92;
}

#forgot-pass {
    text-align: right;
    display: block;
}

input[type="submit"] {
    color: white;
    border: none;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #5e0f92;
    height: 40px;
    margin-top: 30px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2b0346;
    transition: .6s;
} 


/* Social-box */
#social-box {
    margin-bottom: 5px;
}

#social-box > p {
    margin-bottom: 5px;
}

#social-box > svg {
    height: 40px;
    width: 30px;
    margin: 0px 5px;
    cursor: pointer;
    
}

#register-box > p {
    margin-bottom: 20px;
}

#register-box > a {
    
    text-align: center;
    padding: 5px;
    background-color: #5e0f92;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    width: 100px;
}